*.py[cod]

# C extensions
*.so

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
var
sdist
develop-eggs
.installed.cfg
lib64
*.ipynb

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
.noseids
.scripttest
nosetests.xml
*.ropeproject
cover/*
coverage.xml

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject

# Complexity
output/*.html
output/*/index.html

# Sphinx
docs/_build
