# Python
*.py[cod]
*.DS_Store
*.ipynb
*checkpoint.ipynb
.cookiecutter
.ipynb_checkpoints/*
.idea/
example*.log
examples/.ipynb_checkpoints/*

# C extensions
*.so

# Packages
*.egg*
*.egg-info
.eggs
.installed.cfg
.installed.cfg
*-0.*/*
dist
build
eggs
parts
var
sdist
develop-eggs
lib
lib64
venv

# Installer logs
pip-log.txt

# Unit test / coverage reports
*.wpu
*.rope
*.noseids
*.ropeproject
.coverage
.tox
.noseids
.cache/*
.scripttest
coverage.xml
cover/*
htmlcov/*
nosetests.xml

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject

# Complexity
output/*.html
output/*/index.html

# Sphinx
docs/_build
build/*

# Misc
*.pstats
.vscode
callgraph.svg
ttyrecord

