*.wpu
*.pyc
*.egg*
*.rope
*.noseids
*checkpoint.ipynb
wingdbstub.py
pipe2py/pipelines/*.json
pipe2py/pypipelines/*.py
coverage.xml
.coverage
*/.ropeproject/*
.eggs/*
.tox/*
.cache/*
.scripttest/*
dist/*
cover/*
build/*
