Jinja2==2.7.3
MarkupSafe==0.22
html5lib==0.999
lxml==3.3.5
mccabe==0.2.1
six==1.7.3
speedparser==0.2.0
feedparser==5.1.3
requests==2.4.3
Twisted==15.0.0
treq==0.2.1
pylibmc==1.3.0
Babel==1.3
git+git://github.com/kazeeki/mezmorize.git@master#egg=mezmorize-0.14.2
